.profile{
    background-color: #e2edff;
    padding-top: 2rem;
}
#projects {
    background-color: #e2edff;
}
.jarak-local{
    margin-left: auto;
}
.jarak-local1{
    position: relative;
    left: 40px;
}